/* contacto.css */

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
}

.submit-btn {
    background-color: #ff7a3c; /* Color naranja suave */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    width: 150px;
}

.submit-btn:hover {
    background-color:  #ffbf91; /* Color naranja más oscuro */
}

form .errorlist {
    color: red;
    font-size: 0.9em;  /* Tamaño de fuente más pequeño */
    margin-top: 5px;  /* Añade un margen superior para separarlo del campo de entrada */
    list-style-type: none;  /* Elimina los puntos de la lista */
    padding: 0;  /* Elimina el padding */
}

form .errorlist li {
    margin: 0;
}