/* nosotros.css */

#nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#nosotros img:first-of-type {
    width: 100%;
    max-width: 450px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card {
    background-color: #ffbf91; /* Color naranja suave */
    border-radius: 15px;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.video-card {
    background-color: #ffbf91; /* Color naranja suave */
    border-radius: 15px;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000; /* Fondo negro para los videos */
    border-radius: 15px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
}